/* General Stuff */
* {
  margin: 0;
  padding: 0;
}
h1 {
    margin: 0px;
    color: #ff5656;
    font-size: 200px;
}
bodytext {
  margin: 0px;
}
p {
  margin: 0px;
}

/* Home page product pages headers*/
.homeHeader {
  width: 100%;
  height: 50%;
  display: inline-block;
  position: static;
  z-index: 10;
  padding-left: 1%;
}
.watermelon {
  background-color: #ff5656;
}
.mahogany {
  background-color: #6b6b6b;
}
.gardenia {
  background-color: rgb(221, 205, 84);
}
.eucalyptus {
  background-color: #48c47e;
}
.coffee {
  background-color: #e2cea3;
}
.freshair {
    background-color: #8dcfdd;
}
.watermelonTitle {
    color: #ff5656;
    position: relative;
}
.mahoganyTitle {
    color: #6b6b6b;
    position: relative;
}
.gardeniaTitle {
    color: rgb(221, 205, 84);
    position: relative;
}
.eucalyptusTitle {
    color: #48c47e;
    position: relative;
}
.coffeeTitle {
    color: #e2cea3;
    position: relative;
}
.freshairTitle {
    color: #8dcfdd;
    position: relative;
}
.backgroundContainer{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    bottom: 0;
    z-index: -1;
}
.background{
    position: absolute;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 650px !important;
    background-position-x: -100px;
    width:100%;
    height:250%;
    animation: animatedBackground 45s infinite linear;
}
.freshairBackground{
    position: absolute;
    background: url(backgroundPatterns/freshair_pattern.png);
    background-size: 650px;
    background-position-x: 0px;
    width:100%;
    height:250%;
    animation: animatedBackground 45s linear infinite;
}
.coffeeBackground{
    position: absolute;
    background: url(backgroundPatterns/vanilla_pattern.png);
    background-size: 650px;
    background-position-x: -100px;
    width:100%;
    height:250%;
    animation: animatedBackground 45s linear infinite;
}
.eucalyptusBackground{
    position: absolute;
    background: url(backgroundPatterns/eucalyptus_pattern.png);
    background-size: 650px;
    background-position-x: -100px;
    width:100%;
    height:250%;
    animation: animatedBackground 45s linear infinite;
}
.gardeniaBackground{
    position: absolute;
    background: url(backgroundPatterns/gardenia_pattern.png);
    background-size: 650px;
    background-position-x: -100px;
    width:100%;
    height:250%;
    animation: animatedBackground 45s linear infinite;
}
.mahoganyBackground{
    position: absolute;
    background: url(backgroundPatterns/mahogany_pattern.png);
    background-size: 650px;
    background-position-x: -100px;
    width:100%;
    height:250%;
    animation: animatedBackground 45s linear infinite;
}
.watermelonBackground{
    position: absolute;
    background: url(backgroundPatterns/watermelon_pattern.png);
    background-size: 650px;
    background-position-x: -100px;
    width:100%;
    height:250%;
    animation: animatedBackground 45s linear infinite;
}

.pfreshairBackground{
    position: absolute;
    background: url(backgroundPatterns/freshair_pattern.png);
    background-size: 650px;
    width:100%;
    height:250%;
}
.pcoffeeBackground{
    position: absolute;
    background: url(backgroundPatterns/vanilla_pattern.png);
    background-size: 650px;
    width:100%;
    height:250%;
}
.peucalyptusBackground{
    position: absolute;
    background: url(backgroundPatterns/eucalyptus_pattern.png);
    background-size: 650px;
    width:100%;
    height:250%;
}
.pgardeniaBackground{
    position: absolute;
    background: url(backgroundPatterns/gardenia_pattern.png);
    background-size: 650px;
    width:100%;
    height:250%;
}
.pmahoganyBackground{
    position: absolute;
    background: url(backgroundPatterns/mahogany_pattern.png);
    background-size: 650px;
    width:20%;
    height:20%;
    bottom: 700px;
    left: 1500px;
}
.pwatermelonBackground{
    position: absolute;
    background: url(backgroundPatterns/watermelon_pattern.png);
    background-size: 650px;
    width:20%;
    height:20%;
    bottom: 700px;
    left: 1500px;
}

.freshairBackground1 {
    position: absolute;
    background: url(backgroundPatterns/Freshair\ Pattern\ Images/freshair_pattern1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 600px;
    top: 1000px;
    width:100%;
    height:100%;
}

.freshairBackground2 {
    position: absolute;
    background: url(backgroundPatterns/Freshair\ Pattern\ Images/freshair_pattern2.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 200px;
    bottom: 0px;
    width:100%;
    height:100%;
}

.freshairBackground3 {
    position: absolute;
    background: url(backgroundPatterns/Freshair\ Pattern\ Images/freshair_pattern3.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1300px;
    bottom: 70px;
    width:100%;
    height:100%;
}

.freshairBackground4 {
    position: absolute;
    background: url(backgroundPatterns/Freshair\ Pattern\ Images/freshair_pattern4.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1500px;
    top: 300px;
    width:100%;
    height:100%;
}

.freshairBackground5 {
    position: absolute;
    background: url(backgroundPatterns/Freshair\ Pattern\ Images/freshair_pattern5.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1200px;
    top: 900px;
    width:100%;
    height:100%;
}


.eucalyptusBackground1 {
    position: absolute;
    background: url(backgroundPatterns/Eucalyptus\ Pattern\ Images/eucalyptus_pattern1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 600px;
    top: 1000px;
    width:100%;
    height:100%;
}

.eucalyptusBackground2 {
    position: absolute;
    background: url(backgroundPatterns/Eucalyptus\ Pattern\ Images/eucalyptus_pattern2.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 200px;
    bottom: 0px;
    width:100%;
    height:100%;
}

.eucalyptusBackground3 {
    position: absolute;
    background: url(backgroundPatterns/Eucalyptus\ Pattern\ Images/eucalyptus_pattern3.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1300px;
    bottom: 70px;
    width:100%;
    height:100%;
}

.eucalyptusBackground4 {
    position: absolute;
    background: url(backgroundPatterns/Eucalyptus\ Pattern\ Images/eucalyptus_pattern4.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1500px;
    top: 300px;
    width:100%;
    height:100%;
}

.eucalyptusBackground5 {
    position: absolute;
    background: url(backgroundPatterns/Eucalyptus\ Pattern\ Images/eucalyptus_pattern5.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1200px;
    top: 900px;
    width:100%;
    height:100%;
}


.gardeniaBackground1 {
    position: absolute;
    background: url(backgroundPatterns/Gardenia\ Pattern\ Images/gardenia_pattern1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 600px;
    top: 1000px;
    width:100%;
    height:100%;
}

.gardeniaBackground2 {
    position: absolute;
    background: url(backgroundPatterns/Gardenia\ Pattern\ Images/gardenia_pattern6.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 200px;
    bottom: 0px;
    width:100%;
    height:100%;
}

.gardeniaBackground3 {
    position: absolute;
    background: url(backgroundPatterns/Gardenia\ Pattern\ Images/gardenia_pattern1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1300px;
    bottom: 70px;
    width:100%;
    height:100%;
}

.gardeniaBackground4 {
    position: absolute;
    background: url(backgroundPatterns/Gardenia\ Pattern\ Images/gardenia_pattern4.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1500px;
    top: 300px;
    width:100%;
    height:100%;
}

.gardeniaBackground5 {
    position: absolute;
    background: url(backgroundPatterns/Gardenia\ Pattern\ Images/gardenia_pattern5.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1200px;
    top: 900px;
    width:100%;
    height:100%;
}

.mahoganyBackground1 {
    position: absolute;
    background: url(backgroundPatterns/Mahogany\ Pattern\ Images/mahogany_pattern1.png) ;
    background-size: 250px;
    background-repeat: no-repeat;
    left: 600px;
    top: 1000px;
    width:100%;
    height:100%;
}

.mahoganyBackground2 {
    position: absolute;
    background: url(backgroundPatterns/Mahogany\ Pattern\ Images/mahogany_pattern4.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 200px;
    bottom: 0px;
    width:100%;
    height:100%;
}

.mahoganyBackground3 {
    position: absolute;
    background: url(backgroundPatterns/Mahogany\ Pattern\ Images/mahogany_pattern1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1300px;
    bottom: 70px;
    width:100%;
    height:100%;
}

.mahoganyBackground4 {
    position: absolute;
    background: url(backgroundPatterns/Mahogany\ Pattern\ Images/mahogany_pattern1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1500px;
    top: 300px;
    width:100%;
    height:100%;
}

.mahoganyBackground5 {
    position: absolute;
    background: url(backgroundPatterns/Mahogany\ Pattern\ Images/mahogany_pattern3.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1200px;
    top: 900px;
    width:100%;
    height:100%;
}


.coffeeBackground1 {
    position: absolute;
    background: url(backgroundPatterns/Vanilla\ Pattern\ Images/vanilla_pattern2.png) ;
    background-size: 250px;
    background-repeat: no-repeat;
    left: 600px;
    top: 1000px;
    width:100%;
    height:100%;
}

.coffeeBackground2 {
    position: absolute;
    background: url(backgroundPatterns/Vanilla\ Pattern\ Images/vanilla_pattern4.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 200px;
    bottom: 0px;
    width:100%;
    height:100%;
}

.coffeeBackground3 {
    position: absolute;
    background: url(backgroundPatterns/Vanilla\ Pattern\ Images/vanilla_pattern1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1300px;
    bottom: 70px;
    width:100%;
    height:100%;
}

.coffeeBackground4 {
    position: absolute;
    background: url(backgroundPatterns/Vanilla\ Pattern\ Images/vanilla_pattern2.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1500px;
    top: 300px;
    width:100%;
    height:100%;
}

.coffeeBackground5 {
    position: absolute;
    background: url(backgroundPatterns/Vanilla\ Pattern\ Images/vanilla_pattern3.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1200px;
    top: 900px;
    width:100%;
    height:100%;
}


.watermelonBackground1 {
    position: absolute;
    background: url(backgroundPatterns/Watermelon\ Pattern\ Images/watermelon_pattern5.png) ;
    background-size: 250px;
    background-repeat: no-repeat;
    left: 600px;
    top: 1000px;
    width:100%;
    height:100%;
}

.watermelonBackground2 {
    position: absolute;
    background: url(backgroundPatterns/Watermelon\ Pattern\ Images/watermelon_pattern3.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 200px;
    bottom: 0px;
    width:100%;
    height:100%;
}

.watermelonBackground3 {
    position: absolute;
    background: url(backgroundPatterns/Watermelon\ Pattern\ Images/watermelon_pattern1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1300px;
    bottom: 70px;
    width:100%;
    height:100%;
}

.watermelonBackground4 {
    position: absolute;
    background: url(backgroundPatterns/Watermelon\ Pattern\ Images/watermelon_pattern2.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1500px;
    top: 300px;
    width:100%;
    height:100%;
}

.watermelonBackground5 {
    position: absolute;
    background: url(backgroundPatterns/Watermelon\ Pattern\ Images/watermelon_pattern4.png);
    background-size: 250px;
    background-repeat: no-repeat;
    left: 1200px;
    top: 900px;
    width:100%;
    height:100%;
}

.text1 {
    position: relative;
    font-size: 120%;
    top: 0px;
    left: 450px;
    width: 500px;
    height: 200px;
}

.text2 {
    position: relative;
    font-size: 120%;
    bottom: 210px;
    left: 1000px;
    width: 500px;
    height: 200px;
}
.text3 {
    position: relative;
    font-size: 120%;
    bottom: 100px;
    left: 450px;
    width: 500px;
    height: 200px;
}
.text4 {
    position: relative;
    font-size: 120%;
    bottom: 310px;
    left: 1000px;
    width: 500px;
    height: 200px;
}






@keyframes animatedBackground {
	from { background-position: 0 100%; }
	to { background-position: 0 0; }
}
.logoImage{
    height:50px;
}
.title{
    font-size: 40px;
    margin-top: 7%;
}
.price{
    color:F9F9F9;
    font-family: "Roboto-Regular",Times,serif;
    font-size:20px;
}
.bottomTitle{
    bottom: 525px;
    position: relative;
}
.button{
    color: #fbfcfd;
    padding: 10px;
    text-align: center;
    display: inline-block;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    font-family: "Roboto-Regular",Times,serif;
    font-size: 20px;
   
}
.productImage{
    height: 412.5px;
    width: 550px;
    z-index:15;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    height: 412.5px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.zipper{
    width: 550px;
    position: absolute;
    z-index: 3;
    top: 0px;
    transform-origin: 74% bottom;
    animation-name: closingAnimation;
    animation-duration: 1s;
}

.wrapper:hover .zipper{
    animation-name: openingAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;  
}

@keyframes openingAnimation { 
    from { 
        transform: rotate(0deg); 
    } 
    to {  
        transform: rotate(10deg); 
    } 
} 
  
@keyframes closingAnimation { 
    from { 
        transform: rotate(10deg); 
    } 
    to { 
        transform: rotate(0deg); 
    } 
} 

.bottomBag{
    width: 550px;
    z-index: 5;
    position: absolute;
    bottom:0px;
}

.laundrBombs{
    width:180px;
    top:20%;
    left:33%;
    z-index: 4;
    position:absolute;
    animation-name: submergeAnimation;
    animation-duration: 1s;
}
.wrapper:hover .laundrBombs{
    animation-name: emergeAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

@keyframes emergeAnimation { 
    from { 
        transform: translate(0,0px); 
    } 
    to {  
        transform: translate(0,-100px); 
    } 
} 
  
@keyframes submergeAnimation { 
    from { 
        transform: translate(0,-100px); 
    } 
    to { 
        transform: translate(0,0px); 
    } 
} 

.productpImage{
    width: 1200px;
    position: relative;
    right: 300px; 
    bottom: 265px;
    transform:rotate(90deg);
    z-index: 15;
    margin:auto; 
}

.productpWrapper{
    overflow: hidden;
    width: 1200px;
    height: 900px;
    position: relative;
    right: 700px;
    bottom: 220px;
    z-index: 15;
    margin:auto; 
}

.productpZipper{
    height: 1200px;
    position: absolute;
    z-index: 15;
    top: -200px;
    right: 99.5px;
    animation-name: openingpAnimation;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.productpBag{
    transform:rotate(90deg);
    width: 1200px;
    position: absolute;
    z-index: 15;
    left: 0px;
}

@keyframes openingpAnimation{
    from { 
        transform: translate(0);
    } 
    to {  
        transform: translate(0px,775px);
    }    
}

.Bomb1_5{
    width: 300px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left:0px;
    animation-name: rollingAnimation1_5;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.Bomb1{
    width: 300px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left:0px;
    animation-name: rollingAnimation1;
    animation-duration: 2.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}

.Bomb2{
    width: 300px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left:0px;
    animation-name: rollingAnimation2;
    animation-duration: 2.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes rollingAnimation1_5{
    from { 
        transform: translate(0) rotate(0deg);
    } 
    to {  
        transform: translate(565px,-150px) rotate(45deg);
    }    
}

@keyframes rollingAnimation1{
    from { 
        transform: translate(0) rotate(0deg);
    } 
    to {  
        transform: translate(985px,135px) rotate(-5deg);
    }      
}

@keyframes rollingAnimation2{
    from { 
        transform: translate(0) rotate(0deg);
    } 
    to {  
        transform: translate(1200px,-250px) rotate(-5deg);
    } 
}

