/* General Stuff */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 70%;
}

/* Home page product pages headers*/
.autoscale {
  margin-left: 1%;
  position: absolute;
  display: inline-block;
  max-height: 50%;
}
.homeHeader {
  width: 100%;
  height: 50%;
  display: inline-block;
  position: static;
  z-index: 10;
  padding-left: 1em;
}
.watermelon {
  background-color: #ff5656;
}
.mahogany {
  background-color: #6b6b6b;
}
.gardenia {
  background-color: rgb(221, 205, 84);
}
.eucalyptus {
  background-color: #48c47e;
}
.coffee {
  background-color: #e2cea3;
}
.freshair {
  background-color: #8dcfdd;
}

/* Home page product pages backgrounds */
.backgroundContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  bottom: 0;
  z-index: -1;
}
.background {
  position: absolute;
  background-repeat: repeat;
  background-size: 65em !important;
  background-position-x: -10em;
  width: 100%;
  height: 250%;
  animation: animatedBackground 15s infinite linear;
}
@keyframes animatedBackground {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 0 0;
  }
}
.watermelonBG {
  background: url(backgroundPatterns/watermelon_pattern.png);
}
.freshairBG {
  background: url(backgroundPatterns/freshair_pattern.png);
  background-position-x: 0 !important;
}
.coffeeBG {
  background: url(backgroundPatterns/vanilla_pattern.png);
}
.eucalyptusBG {
  background: url(backgroundPatterns/eucalyptus_pattern.png);
}
.gardeniaBG {
  background: url(backgroundPatterns/gardenia_pattern.png);
}
.mahoganyBG {
  background: url(backgroundPatterns/mahogany_pattern.png);
}

/* Other */
.logoImage {
  height: 5em;
}
.title {
  margin-top: 5em;
}
.price {
  font-family: "Roboto-Regular", Times, serif;
  font-size: 2em;
}
.button {
  color: #fbfcfd;
  padding: 1em;
  text-align: center;
  display: inline-block;
  background: transparent;
  border: 0.1em solid #fff;
  outline: none;
  cursor: pointer;
  font-family: "Roboto-Regular", Times, serif;
  font-size: 2rem;
}
.productImage {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.productParent {
  width: 50em;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  margin: auto;
}
