.button1 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    height: 120px; 
    width:  120px;
	cursor:pointer, auto;
    transition-duration: 2s;
	outline: none;
}
.nextPageButton {
    background-color: transparent;
    z-index: 2;
    outline: none transparent;
    vertical-align: bottom;
    text-align: center;
}