
html, body {
  cursor: progress;
  background-color: white;
  transition: all 1s ease-in-out;
  transition-duration: 2s;
}
button1 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;  
    height: 120px; 
    width:  120px;
	cursor:pointer, auto;
    transition-duration: 2s;
	outline: none;

	
}
