.button1 {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  height: 12em;
  width: 12em;
  cursor: pointer, auto;
  transition-duration: 2s;
  outline: none;
    position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nextPageButton {
  background-color: transparent;
  z-index: 2;
  outline: none transparent;
  vertical-align: bottom;
  text-align: center;
  
}
