.pastOrder {
  border: 1px solid #ccc !important;
  padding: 0.01em 16px;
  border-radius: 16px;
  margin-bottom: 0.5em;
  max-width: 40%;
}

.orderText {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 15px;
}
