html {
  background-color: #f9f9f9;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.child {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: inline-block;
  position: relative;
}

.center {
  position: absolute;
  transform: translate(65%, -838%);
  z-index: 1000;
}
