.checkoutButtonParent {
  margin-left: 1% !important;
  padding: 6px 0px 6px 15px !important;
  height: 4% !important;
  width: 35% !important;
  position: relative;
  margin-top: 5%;
}

.checkoutButton {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #f9f9f9;
  border-width: 1px;
  border-style: outset;
  border-color: -internal-light-dark(#f9f9f9, rgb(133, 133, 133));
  border-image: initial;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.checkoutButton:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
