.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1.5em 1.5em 1.5em 1em;
}

.topnav-logo {
  max-width: 17%;
  margin-left: 1%;
}

.topnav-right {
  float: right;
  width: auto;
  display: table;
}

.topnav-button {
  font-weight: 600;
  font-size: 1.4em;
  height: 8%;
  color: black;
  letter-spacing: 0.1em;
  border-width: 0.05em;
  border-radius: 0.5em;
  width: auto;
  padding: 5px;
  margin-right: 5px;
  display: table-cell;
}

.topnav-link {
  float: left;
  margin-top: 1em;
  margin-right: 1em;
  position: absolute;
}

#wrapper {
  display: grid;
  max-width: 100em;
  width: 97%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 2em;
  margin: 2em auto 0;
}

.cardList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

#homeBody {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 97%;
  margin: 2em auto 0;
  max-width: 100em;
}

/* Position of each element */
#slideshow {
  grid-column: 1 / 4;
  grid-row: 1;
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  max-width: 65%;
  max-height: 100%;
}

#promote {
  grid-column: 1;
  grid-row: 2;
  position: relative;
}

#support {
  grid-column: 2;
  grid-row: 2;
  position: relative;
}

#create {
  grid-column: 3;
  grid-row: 2;
  position: relative;
}

#events-wrapper {
  grid-column: 1 / 4;
  grid-row: 3;
}

#get-involved {
  grid-column: 1 / 4;
  grid-row: 4;
}

/* Events element CSS */
#events-grid {
  display: grid;
  margin-top: -1.5em;
  grid-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
}

#upcoming-events-title {
  margin-bottom: 0;
}

.event-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0.6em;
  font-size: 2em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 80%;
}

/* For mobile phones */
@media only screen and (max-width: 600px) {
  #wrapper {
    display: grid;
    width: 95%;
    max-width: 50em;
    margin: 0 auto;
    margin-top: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 12em) repeat(3, 16.7em);
    grid-auto-rows: min-content;
    grid-gap: 1em;
  }

  #wrapper > div {
    border-radius: 0.5em;
  }

  /* Position of the elements */
  #slideshow {
    grid-column: 1;
    grid-row: 1;
  }

  #promote {
    grid-column: 1;
    grid-row: 2;
  }

  #support {
    grid-column: 1;
    grid-row: 3;
  }

  #create {
    grid-column: 1;
    grid-row: 4;
  }

  #events-wrapper {
    grid-column: 1;
    grid-row: 5 / 8;
  }

  #events-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 13.3em;
    grid-gap: 1em;
  }

  #get-involved {
    grid-column: 1;
    grid-row: 8;
  }
}
