*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
h1 {
    margin: 0px;
    font-family: "Calmer Regular", Times, serif;
    color:#fff;
}
bodytext {
    margin: 0px;
    font-family: Roboto, Times, serif;
}
p{
    margin: 0px;
    font-family: Roboto, Times, serif;
}

.backgroundContainer{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    z-index: -1;
}
.freshairBackground{
    position: relative;
    background: url(backgroundPatterns/freshair_pattern.png);
    background-size: 650px 487.5px;
    background-position-x: 0px;
    width:100%;
    height:250%;
    animation: bgAnimation2 15s linear infinite;
}
.freshairHeader{
    width: 100%;
    height:50%;
    display: block;
    background-color: #e2f1f7;
    position:static;
    z-index: 10;
}
.coffeeBackground{
    position: relative;
    background: url(backgroundPatterns/vanilla_pattern.png);
    background-size: 650px;
    background-position-x: -100px;
    width:100%;
    height:250%;
    animation: bgAnimation 15s linear infinite;
}
.coffeeHeader{
    width: 100%;
    height:50%;
    display: block;
    background-color: #6f4e37;
    position: static;
    z-index: 10;
}
.eucalyptusBackground{
    position: relative;
    background: url(backgroundPatterns/eucalyptus_pattern.png);
    background-size: 650px;
    background-position-x: -100px;
    width:100%;
    height:250%;
    animation: bgAnimation 15s linear infinite;
}
.eucalyptusHeader{
    width: 100%;
    height:50%;
    display: block;
    background-color: #44d7a8;
    position:static;
    z-index: 10;
}
.gardeniaBackground{
    position: relative;
    background: url(backgroundPatterns/gardenia_pattern.png);
    background-size: 650px;
    background-position-x: -100px;
    width:100%;
    height:250%;
    animation: bgAnimation 15s linear infinite;
}
.gardeniaHeader{
    width: 100%;
    height:50%;
    display: block;
    background-color: #FDFD96;
    position:static;
    z-index: 10;
}
.mahoganyBackground{
    position: relative;
    background: url(backgroundPatterns/mahogany_pattern.png);
    background-size: 650px;
    background-position-x: -100px;
    width:100%;
    height:250%;
    animation: bgAnimation 15s linear infinite;
}
.mahoganyHeader{
    width: 100%;
    height:50%;
    display: block;
    background-color: #321c20;
    position:static;
    z-index: 10;
}
.watermelonBackground{
    position: relative;
    background: url(backgroundPatterns/watermelon_pattern.png);
    background-size: 650px;
    background-position-x: -100px;
    width:100%;
    height:250%;
    animation: bgAnimation 15s linear infinite;
}
.watermelonHeader{
    width: 100%;
    height:50%;
    display: block;
    background-color: #dea5a4;
    position:static;
    z-index: 10;
}
@keyframes bgAnimation{
    from{bottom:0px}
    to{bottom:650px}
}
@keyframes bgAnimation2{
    from{bottom:0px}
    to{bottom:487.5px}
}
.logoImage{
    height:50px;
}
.title{
    font-size: 50px;
    
}
.price{
    color:white;
    font-family: "Roboto-Regular",Times,serif;
    font-size:20px;
    
}
.button{
    color: #fbfcfd;
    padding: 10px;
    text-align: center;
    display: inline-block;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    font-family: "Roboto-Regular",Times,serif;
    font-size: 20px;
   
}
.productImage{
    width: 650px;
    position:absolute;
    left:0; 
    top:150px;
    right:0;
    margin:auto; 
}