button {
  background-color: white;
  width: 8em;
  height: 2em;
  color: black;
  line-height: 1.95em !important;
  border-width: 0.2em;
}

.navbarbutton-parent {
  height: 0px;
  width: 100%;
  padding: 0px;
  margin: 0.5em;
  background-color: white;
  border-width: 0.2em;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 0.5em;
}
/* Add a black background color to the top navigation */
.NavBarButtonID {
  height: 0px;
  background-color: purple;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.NavBarButtonID a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.8em 0.8em 0.8em 0.8em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 2em;
}

/* Change the color of links on hover */
.NavBarButtonID a:hover {
  background-color: orange;
  color: black;
}

/* Add an active class to highlight the current page */
.NavBarButtonID a.active {
  background-color: green;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.NavBarButtonID .icon {
  display: none;
}
@media screen and (max-height: 45em) {
  .NavBarButtonID {
    padding-top: 1.5em;
  }
  .NavBarButtonID a {
    font-size: 1.8em;
  }
}
