html,
body {
  height: 100%;
}

button {
  background-color: white;
  width: 80px;
  height: 20px;
  color: black;
  line-height: 19.5px !important;
  border-width: 2px;
}

.navbarbutton-parent {
  height: 0px;
  width: 100%;
  padding: 0px;
  margin: 5px;
  background-color: white;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 5px;
}
/* Add a black background color to the top navigation */
.NavBarButtonID {
  height: 0px;
  background-color: purple;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.NavBarButtonID a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

/* Change the color of links on hover */
.NavBarButtonID a:hover {
  background-color: orange;
  color: black;
}

/* Add an active class to highlight the current page */
.NavBarButtonID a.active {
  background-color: green;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.NavBarButtonID .icon {
  display: none;
}
@media screen and (max-height: 450px) {
  .NavBarButtonID {
    padding-top: 15px;
  }
  .NavBarButtonID a {
    font-size: 18px;
  }
}
