h4 {
  color: #f9f9f9;
  margin-left: 1.5em;
}

button {
  background-color: #f9f9f9;
  color: #3a3a3a;
  width: 8em;
  height: 2em;
  line-height: 1.95em !important;
  border-width: 0px;
}

.shopping-cart-parent {
  height: auto;
  width: 8em;
  padding: 0px;
  margin: 0.5em;
  background-color: #f9f9f9;
  color: #3a3a3a;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #d4d4d4;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 1.3% 0.5% 1% 0.5%;
  border-width: 0.5em;
  border-style: outset;
  border-color: -internal-light-dark(#f9f9f9, grey);
}

.sidenav a {
  padding: 0.8em 0.8em 0.8em 0.8em;
  text-decoration: none;
  font-size: 2em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  top: 0;
  right: 0.5em;
  font-size: 2.5em;
  margin-left: 5em;
  font-family: social-gothic;
  letter-spacing: 0.1em;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.6em;
  line-height: 1em;
  cursor: pointer;
  float: right;
  color: #3a3a3a;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}

.cart-item-name {
  font-size: 1.6em;
  color: black;
  margin-left: 1%;
  padding: 0.3em 0px 0.3em 1.5em;
}

.cost-text {
  color: #f9f9f9;
  margin-left: 1.5em;
}

.cart-text {
  font-weight: 600;
  font-size: 1.4em;
  height: 8%;
  color: black;
  letter-spacing: 0.1em;
  width: auto;
  padding: 5px;
  display: inline-block;
  background-color: transparent;
  text-decoration: underline;
}

@media screen and (max-height: 45em) {
  .sidenav {
    padding-top: 1.5em;
  }
  .sidenav a {
    font-size: 1.8em;
  }
}
