html,
body {
  height: 100%;
}

h4 {
  color: #f9f9f9;
  margin-left: 15px;
}

button {
  background-color: #f9f9f9;
  color: #3a3a3a;
  width: 80px;
  height: 20px;
  line-height: 19.5px !important;
  border-width: 0px;
}

.shopping-cart-parent {
  height: auto;
  width: 80px;
  padding: 0px;
  margin: 5px;
  background-color: #f9f9f9;
  color: #3a3a3a;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #d4d4d4;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 1.3% 0.5% 1% 0.5%;
  border-width: 5px;
  border-style: outset;
  border-color: -internal-light-dark(#f9f9f9, grey);
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  top: 0;
  right: 5px;
  font-size: 25px;
  margin-left: 50px;
  font-family: social-gothic;
  letter-spacing: 1px;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1em;
  cursor: pointer;
  float: right;
  color: #3a3a3a;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}

.cart-item-name {
  font-size: 16px;
  color: black;
  margin-left: 1%;
  padding: 3px 0px 3px 15px;
}

.cost-text {
  color: #f9f9f9;
  margin-left: 15px;
}

.cart-text {
  font-weight: 600;
  font-size: 16px;
  height: 8%;
  color: black;
  letter-spacing: 1px;
  border-width: 1px;
  border-style: outset;
  border-color: -internal-light-dark(#f9f9f9, rgb(133, 133, 133));
  border-image: initial;
  border-radius: 5px;
  float: right;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
